body, html {
	background: #efefef;
}

body.authorized #main { display: block; }
body.authorized #init-auth { display: none; }

h1 {
	text-align: center;
	margin: 0 0 20px;
}

main {
	background: #fff;
	box-shadow: 0 3px 2px -2px rgba( 1, 1, 1, 0.3 );
	margin: 20px auto;
	padding: 20px;
	width: 800px;
}

#init-auth {
	color: #222;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background: #cecece;
	border-radius 4px;
	padding: 20px;
	font-size: 18px;
	max-width: 100px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#main { display: none; }

#embed {
	margin: 0 auto 20px;
	width: 400px;
}

textarea {
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 20px;
	width: 100%;
}

#gobutton {
	cursor: pointer;
	float: right;
	border: none;
	background: #cecece;
	border-radius 4px;
	padding: 20px;
	font-size: 18px;
}

#avatar img {
	border-radius: 50%;
	display: inline-block;
	height: 64px;
	width: 64px;
	vertical-align: middle;
}

#avatar h3 {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}